* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;

}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(155, 135, 222);
}

.container {
    width: 800px;
    height: 600px;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(38, 202, 36, 0.725);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .title {
        & h1 {
            font-size: 50px;
            padding: 1rem;
        }

        & p {
            font-size: 30px;
            padding: 1rem
        }
    }


    .input {
        font-size: 25px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .case {
            font-size: 25px;
            padding: 0.3rem;
            margin: 1rem;
            border: none;
            border-bottom: 1px solid grey;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
    }

    /* #region Button */

    .button {
        font-size: 20px;
        padding: 0.6em 2em;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin: 2rem 0;
    }

    .button:before {
        content: "";
        background: linear-gradient(45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
    }

    @keyframes glowing-button {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    .button:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #222;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    /* #endregion Button */


}